.header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: bolder;
}

#instructions {
  font-size: larger;
}

#quiz {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

#question {
  font-weight: bolder;
}

#answers {
  list-style-type: none;
  font-size: x-large;
  padding: 10px;
  margin: 24px;
}

#A,
#B,
#C,
#D {
  background-color: darkorchid;
  border-radius: 5px;
  border: cornflowerblue;
  padding: 5px;
  margin: 10px;
  color: azure;
}

#A:hover,
#B:hover,
#C:hover,
#D:hover {
  opacity: 0.5;
}

#response {
  font-size: x-large;
  font-weight: bolder;
}

#start {
}
